<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>졸업 작품</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="bg">
    <div class="search-container">
        <h2>항공편 지연, 취소 보상 조회</h2>
        <form th:action="@{/}" th:object="${delayForm}" method="post" novalidate>
            <div>
                <label for="flightNumber" class="form-label">항공편명</label>
                <input type="text" class="form-control" id="flightNumber" name="flightNumber" th:field="*{flightNum}" required>
                <div class="field-error" th:errors="*{flightNum}"></div>
            </div>
            <div>
                <label for="departureDate" class="form-label">예정 출발 날짜</label>
                <input type="datetime-local" class="form-control" id="departureDate" name="departureDate" th:field="*{departureDate}" required>
                <div class="field-error" th:errors="*{departureDate}"></div>
            </div>
            <button class="btn-primary btn-sm" type="submit">조회</button>
        </form>
    </div>

</div>
<div class="container" style="max-width: 80%">

    <div class="mt-4"></div>
    <div class="d-flex justify-content-center mt-4" style="max-width: 60%; margin: 0 auto;">
        <div class="col d-flex justify-content-center">
            <button class="w-100 btn btn-row" type="button" style="max-width: 50%;"
                    th:onclick="|location.href='@{/insurance/new}'|">
                보험 가입 신청
            </button>
        </div>
        <div class="col d-flex justify-content-center">
            <button class="w-100 btn btn-row" type="button" style="max-width: 50%;"
                    th:onclick="|location.href='@{/user/info}'|">
                내 정보
            </button>
        </div>
    </div>

    <div class="container" style="width: 65%">
        <div class="row" style="margin-bottom: 70px">
            <img class= "col-2" src="/images/patient.png" alt="Aircraft img">
            <div class="col text-center">
                <h4 style="font-weight: bold; margin: 25px 0 25px">여행 중 각종 위험 보장</h4>
                <div style="font-size: 18px;">
                    질병, 상해, 항공기 지연, 납치 등 다양하게 보장
                </div>
            </div>
            <img class= "col-2" src="/images/calender.png" alt="Ether img">
            <div class="col text-center">
                <h4 style="font-weight: bold; margin: 25px 0 25px">여행 기간 자유 선택</h4>
                <div style="font-size: 18px;">
                    여행 기간을 1일 부터 자유롭게 선택 가능
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
